# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR_Animated_Hands.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jwbow\Unity\VR_Animated_Hands\.idea\.idea.VR_Animated_Hands\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
